/*@import "~react-image-gallery/styles/scss/image-gallery.scss";*/
@import "~react-image-gallery/styles/css/image-gallery.css";

body {
    margin-top: 53px;
}

@media only screen and (min-width: 600px) {
    .mobile {
        width: 75%;
        margin: 0 auto;
    }
}


@media only screen and (max-width: 400px) {
    .mobile {
        margin: auto -1rem;
    }
}